In [9]:
import numpy as np

In [10]:
arr=np.array([1,2,3])
print("array",arr)

array [1 2 3]

In [11]:
l1=[10]*3
l1

[10, 10, 10]

In [12]:
l2=list("hello")
l2

['h', 'e', 'l', 'l', 'o']

In [13]:
print(l2[1]) # forward indexing
print(l2[-1]) # negative indexing

e
o

In [14]:
# Traverse  a list by using loop / for  /
print([l2])

for eachvalue in l2:
    print(eachvalue,end="!")

len([l2])

len(l2)

[['h', 'e', 'l', 'l', 'o']]
h!e!l!l!o!

5

In [15]:
for indexno in range(len(l2)):
    print([indexno],end="!")

[0]![1]![2]![3]![4]!

In [16]:
# concatanation

A=[1,2,3]
B=[4,5,6]
A+B

[1, 2, 3, 4, 5, 6]

In [17]:
# replication by multiplication

x=["welcome"]
x*3

['welcome', 'welcome', 'welcome']

In [18]:
A=5
B= A*4
B

20

In [19]:
A1=[5]
B1=A1*4
B1

[5, 5, 5, 5]

In [20]:
# displaying the whole list by slicing

A1=["A","R","U","T","P","E","N", "J","O","T","H","I"]
A1
A1[:]

['A', 'R', 'U', 'T', 'P', 'E', 'N', 'J', 'O', 'T', 'H', 'I']

In [21]:
A1[::]

['A', 'R', 'U', 'T', 'P', 'E', 'N', 'J', 'O', 'T', 'H', 'I']

In [22]:
A1[0:]

['A', 'R', 'U', 'T', 'P', 'E', 'N', 'J', 'O', 'T', 'H', 'I']

In [23]:
A1[-12:]

['A', 'R', 'U', 'T', 'P', 'E', 'N', 'J', 'O', 'T', 'H', 'I']

In [24]:
A1[:4]

['A', 'R', 'U', 'T']

In [25]:
A1[7:]

['J', 'O', 'T', 'H', 'I']

In [26]:
A1[-5:]

['J', 'O', 'T', 'H', 'I']

In [84]:
# append list

B11=["ram","THANIPERUNGARUNAI"]
print(B11)

['ram', 'THANIPERUNGARUNAI']

In [88]:
A11=["krish","Arutperunjothi"]
A11

['krish', 'Arutperunjothi']

In [90]:
A11.append(B11)
print(A11)

['krish', 'Arutperunjothi', ['ram', 'THANIPERUNGARUNAI']]

In [100]:
cars=["honda","maruthi"]
cars.append("Nissan")
cars.append("hyundai")
cars

['honda', 'maruthi', 'Nissan', 'hyundai']

In [102]:
# extend function append multiple values

M=["benx","ferrary","BMW"]
cars.extend(M)
cars

['honda', 'maruthi', 'Nissan', 'hyundai', 'benx', 'ferrary', 'BMW']

In [104]:
# insert add single value to exact position of the list 
cars.insert(2,"daimler") # 3rd position 2nd index daimler will inserted
cars

['honda', 'maruthi', 'daimler', 'Nissan', 'hyundai', 'benx', 'ferrary', 'BMW']

In [108]:
a=["xyz","bc"]
cars.insert(0,a) # list of a values inserted in 0 th index
cars

[['xyz', 'bc'],
 'honda',
 'maruthi',
 'daimler',
 'Nissan',
 'hyundai',
 'benx',
 'ferrary',
 'BMW']

In [110]:
# modifying existing values by assignment operator
cars[0]=["arul"]  # 0 th index value['xyz', 'bc'] replaced by arul
cars

[['arul'],
 'honda',
 'maruthi',
 'daimler',
 'Nissan',
 'hyundai',
 'benx',
 'ferrary',
 'BMW']

In [161]:
# modifying existing values by assignment operator
p=[1,2,3,4,5,5,6,7]
p[2:4]=["ram","lak","raj","sar"]
p

[1, 2, 'ram', 'lak', 'raj', 'sar', 5, 5, 6, 7]

In [131]:
# remove function for list first occurance of the element with specific value- only one at a time
p=[1,2,3,4,5,5,6,7]
p.remove(5) # duplicate value not consider only one 5 removed
p

[1, 2, 3, 4, 5, 6, 7]

In [133]:
# pop remove the element based on index numb specified in the list. default it removes last element from list
p.pop(0)
p

[2, 3, 4, 5, 6, 7]

In [135]:
p.pop()  # it remove last element

7

In [137]:
# len == length of the list
len(p)

5

In [141]:
# Clear== remove all the elements from the list
p.clear()
p

[]

In [151]:
#reverse the content of the list 
n=[1,2,3,4,5]
n.reverse()
n

[5, 4, 3, 2, 1]

In [1]:
#reverse the content of the list 
m=["car","bike","bus"]
m.reverse()
m

['bus', 'bike', 'car']

In [171]:
# index functioin returns index number of the value given in the function

n.index(5)

n.index(3)

2

In [178]:
# Count number of occurences of sepecified value in the list.

p=[1,2,3,4,5,5,6,7] # returns 2 times 5 occured
p.count(5)

2