In [25]:
# string declaration
str ="welcome"
str

'welcome'

In [5]:
# integer declaration
a=50
a

50

In [9]:
b=a
b

50

In [11]:
id(a)

140714446700504

In [13]:
# since a =b the memory id value are equal to a and  b
id(b)

140714446700504

In [15]:

# id value changed for the variable
a=500
id(a)

2127059024656

In [19]:
# multiple integer declaration
x=y=z=10
int(x)

10

In [23]:
int(y)

10

In [21]:
## ids will remain same
id(x)

140714446699224

In [25]:
id(y)

140714446699224

In [33]:
# multiple assignment
a,b,c=1,2,3
print(a)

1

In [35]:
# find the data types

print(b)

2

In [23]:
print(type(a))

<class 'int'>

In [27]:
type(str)

str

In [71]:
# del function deletenthe variable

int=11
del(int)
print(int)

<class 'int'>

In [13]:
print("""i love india,i like vallalar,i like arul""")

i love india,i like vallalar,i like arul

In [1]:
# print multiple lines in single out put

print("""i love india,
i like vallalar,
i like arul""")

i love india,
i like vallalar,
i like arul

In [11]:
print("i love india \
i like vallalar \
i like arul")

i love india i like vallalar i like arul

In [15]:
print('it's ram')  ## threw error due to 3 single quotations to avoid error use backslash as shown in below

SyntaxError: unterminated string literal (detected at line 1) (3854593606.py, line 1)

In [23]:
print('it\'s ram')

it's ram

In [33]:
num1 =int(input("enter num here: "))
print(num1)

enter num here:  25

25

In [35]:
name=input("enter name here: ")
name

enter name here:  ARUTPERUNJOTHI

'ARUTPERUNJOTHI'

In [37]:
num2 = float(input("enter number here : "))
num2

enter number here :  25

25.0

In [47]:
# Evaluation of equation

num3= eval(input("expression here:"))
num3

expression here: 2*3

6

In [1]:
# Explicit typecasting string can not added w/ integer error occurs.
# changing the str datatype in to integer then addition to be done.

a="23"
b=20
a+b

TypeError: can only concatenate str (not "int") to str

In [9]:
a=int(a)
a  # data type changed in to integer

23

In [11]:
 a+b  # addition same data type

43

In [39]:
# swaping two variables interchanging the values reassigned
a=10
b=5
a,b=b,a
print(" the value of variable a is",  a)

 the value of variable a is 5

In [41]:
print(" the value of variable b is",  b)

 the value of variable b is 10

In [21]:
# float
a=20.5
print (type(a))

<class 'float'>

In [27]:
# conversion of float in to integer
a=20.5
a=int(a)
print(type(a))

<class 'int'>

In [31]:
# Modulus % operator  == returns remainder 

a= 5
b=2
a % b

1

In [37]:
# division operator returns quotient
a= 5
b=2
a / b

2.5

In [33]:
a**b

25

In [35]:
# floor operator returns quotient

a= 8
b=2
a // b

4

In [45]:
# writing student id card programme

name=input("enter u r name: " )
age=input("enter u r age: " )
mobile=input("enter u r mobile: " )

print (" student ID card")

print ("student name : ", name)
print ("student age : " ,age)
print ("student mobile : " ,mobile)

enter u r name:  vallalar
enter u r age:  infinity
enter u r mobile:  07200980768

 student ID card
student name :  vallalar
student age :  infinity
student mobile :  07200980768

In [49]:
# programme for conversion of integer in to float
a= int(input("enter a number:"))
type(a)

enter a number: 5

int

In [51]:
a=float(a)
type(a)

float

In [13]:
# strings in key value format strings

role ='Data analyst'
skill ='Python'

"Role:{}".format(role)

'Role:Data analyst'

In [71]:
# key value
role ='Data analyst'
skill ='Python'
"Role:{role},Skill required:{skill}"

'Role:{role},Skill required:{skill}'

In [17]:
# joining the string
Y_exp="12345678"
",".join(Y_exp)

'1,2,3,4,5,6,7,8'

In [21]:
prog=['pyth','pycharm','numpy']
type(prog)

list

In [27]:
",".join(prog)

'pyth,pycharm,numpy'

In [33]:
str1="atutperunjothi"
str2 = str1.capitalize() # capitalise the first string
str2

'Atutperunjothi'

In [39]:
str1="atutperunjothi"
str2 = str1.count('u') # number of times used in string
print("occurences",str2)

occurences 2

In [41]:
# calling functions
str3 = "welcome to siddivilakam"
str2 = str3.find("siddivilakam") # returns index of the string
str2

11

In [49]:
str1.isalpha()  # calling function to verify alphabets
str1.isalnum()   # calling  function to verify alpha numeric

True

In [51]:
str1.isalnum()   # calling  function to verify alpha numeric

True

In [59]:
str4 = "1234arul"
str4.isalnum()   # calling  function to verify alpha numeric

True

In [63]:
str5 = "1234aru$$"
str5.isalnum()   #  verify alpha numeric special character so that return false

False

In [65]:
str4 = "1234arul"
str4.isdigit()  # verify for digit numeric or integer

False

In [67]:
str1="atutperunjothi"
str1.upper()  # return upper case
str1.lower()  # return lower case

'ATUTPERUNJOTHI'

In [5]:
# print the string
str1="atutperunjothi"
print("print the God name: % s" %(str1))

print the God name: atutperunjothi

In [25]:
#typecasting conversion of data type to another data type
str6='3,4'
str6(3+4)

TypeError: 'str' object is not callable

In [33]:
# condition statement if

num1 = int(input("enter the number"))
if num1 % 2==0:
     print("Even number")

enter the number 8

Even number

In [35]:
# condition statement if

num1 = int(input("enter the number"))
if num1 % 2==0:
     print("Even number")

enter the number 7

In [40]:
# condition statement if else

num1 = int(input("enter the number"))
if num1 % 2==0:
     print("Even number")
else:
    print("odd number")

enter the number 7

odd number

In [53]:
# elif conditions

num2=int(input("enter the number:"))
if num2==10:
    print("number is equal 10")
elif num2==30:
    print("num is equal to 30")
elif num2 == 50:
    print("num is equal to 50")
else:
    print("num is not equal to 10,30,50")

enter the number: 5

num is not equal to 10,30,50