In [1]:
def Hello_world():
    print("Hello world")
Hello_world() #  function name is Hello _world. it printed when it calls.

Hello world

In [9]:
def sum(num1,num2):
    return num1+num2
sum(5,2)  # argument 5,2 passed in to function sum and called out it returns the sum.

7

In [7]:
sum("mani","kandan")

'manikandan'

In [18]:
def sum(num1,num2):
    return num1+num2
total=sum(5,2)
print(total)

7

In [20]:
def sum(num1,num2):
    if (type(num1) is not int, type(num2) is not int):
        return  # no values provided in return, so that None printed.
total=sum(2,3)
print(total)

None

In [28]:
def items(*args): # (* args --- stands for n - number of arguments can be passed) 
    print(args)
    print(type(args))   # type of args is tuple.

items("arul","vallalar","ramalingam")

('arul', 'vallalar', 'ramalingam')
<class 'tuple'>

In [32]:
def add (*num):
    sum=0
    for n in num:
        sum= sum + n
    print("Sum:",sum)
add(2,4)

Sum: 6

In [40]:
def named_items(**kvargs): # key value  n numb of arguments  stands for **
    print(kvargs) 
    print(type(kvargs))  # type of dictionary
named_items(first="subscribe",last ="share")

{'first': 'subscribe', 'last': 'share'}
<class 'dict'>

In [95]:
def all_func(a,b,*args,option=False,**kvargs):
    print(a, b)
    print(args)
    print(option)
    print(kvargs)
    
all_func(3,2,10,20,name ="ramalingam", job="arul")

3 2
(10, 20)
False
{'name': 'ramalingam', 'job': 'arul'}

In [109]:
#RECURSION --- Defined function can call itself. can loop thru data up to get results

def add_one(num):
    if (num >=9):
        return num+1
    total = num +1
    print(total)
add_one(0)

1

In [117]:
def add_one(num):
    if (num >=9):
        return num+1
    total = num +1
    print(total)
    return add_one(total) # the total passed as parameter in function itself)
my_newtotal = add_one(0)
print(my_newtotal)

1
2
3
4
5
6
7
8
9
10

In [15]:
# RECURSION FUNCTIONS

def recursive_factorial(n):
    if n==1:
        return n
    else:
        return n * recursive_factorial(n-1)
# recursive_factorial(6)

if num < 0:
    print("Invalid number please enter positive number")
elif num== 0:
    print(" factorial of number 0 is 1")
else:
    print("factorial of number", num, "= ",recursive_factorial(num))

num = 6 # user input

factorial of number 6 =  720