In [1]:
# looping
# while loop
i = 1
while i<6 :
       print(i)
       i+= 2 
# adding  2 to 1 meeting condition
# #printing 3.  again adding 2 printing 5
# again adding 2 becoming 7 not meeting the 
# conditions so that printing stopped after 5
print(" ")  # for output space

1
3
5

In [2]:
i=1
while i<10:
       i+=1 
       if i==8:
         break  # after 8 the loop break 
           # print up to 8
       print(i)

2
3
4
5
6
7

In [3]:
i=1
while i<10:
       i+=1
       if i==8: # continueing the loop
         continue
       print(i)

2
3
4
5
6
7
9
10

In [4]:
i=1
while i<10:
       i+=1
       if i==8: # continueing the loop
         continue
       print(i)
else:
       print("i is no longer less than 10")

2
3
4
5
6
7
9
10
i is no longer less than 10

In [5]:
# for loop

fruits =["apple","orange","grapes"]
for x in fruits:
  print(x) 
for x in "share":
       print(x)

apple
orange
grapes
s
h
a
r
e

In [6]:
# breaking the loop

fruits =["apple","orange","grapes"]
for x in fruits:
  if x =="orange":
       break
  print(x) 
for x in "share":
       print(x)

apple
s
h
a
r
e

In [7]:
# continuing the loop by if condition

fruits =["apple","orange","grapes"]
for x in fruits:
  if x =="orange":
       continue
  print(x) 
for x in "share":
       print(x)

apple
grapes
s
h
a
r
e

In [8]:
# range in loops
for x in range(10): # print from 0 to 9
       print(x)
       
for x in range (4,9): # print upto 8 starts from 4
       print("") # for providing space.
       print(x)
       
for x in range(10,51,5): # print up to 50 jumped by 5
        print(x)
        
else:
       print(" Great it is over")

0
1
2
3
4
5
6
7
8
9

4

5

6

7

8
10
15
20
25
30
35
40
45
50
 Great it is over

In [27]:
# loops

names =["vallalr","ramalingam","chidambaram"]
actions =["sabai","salai","siddhi"]
for name in names:
    print(name)
for action in actions:
    print(action)

vallalr
ramalingam
chidambaram
sabai
salai
siddhi

In [31]:
#nested loops

names =["vallalr","ramalingam","chidambaram"]
actions =["sabai","salai","siddhi"]
for name in names:
    for action in actions:
        print(name +(" ")+ action + ",")

vallalr sabai,
vallalr salai,
vallalr siddhi,
ramalingam sabai,
ramalingam salai,
ramalingam siddhi,
chidambaram sabai,
chidambaram salai,
chidambaram siddhi,

In [11]:

#nested loops_2

names =["vallalr","ramalingam","chidambaram"]
actions =["sabai","salai","siddhi"]
for action in actions:
      # print(name)
      for name in names:
       print(name +(" ")+ action + ",")

vallalr sabai,
ramalingam sabai,
chidambaram sabai,
vallalr salai,
ramalingam salai,
chidambaram salai,
vallalr siddhi,
ramalingam siddhi,
chidambaram siddhi,